body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

input#input-search {
  width: 60%;
}

input{
  width: 60%;
  margin: 10px;
}

input[type=date] {
  height: 10px;
  width: auto;
}

input#input-profession{
  width: 35%;
}

textarea{
  width: 65%;
  margin: 5px;
  height: 150px;
}

form#form-login{
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}

figure{
  display: inline-block;
  width: 35%;
}

img{
  width: 100%;
}

#preview {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
  background-color: #adb7c2;
  opacity: 0.75;
  z-index: 999;
}

#previewImg {
  height: 100%;
  width: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}