body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

input#input-search {
  width: 60%;
}

input{
  width: 60%;
  margin: 10px;
}

input[type=date] {
  height: 10px;
  width: auto;
}

input#input-profession{
  width: 35%;
}

textarea{
  width: 65%;
  margin: 5px;
  height: 150px;
}

form#form-login{
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}