<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="noJS">
      Erro ao executar Javascript
    </div>
    <div id='loginApp' style="visibility: hidden;">
      <h1><%= title %></h1>
      <h2>Login</h2>
      <div>
        <form >
          <table>
            <tr>
              <td>Login</td>
              <td><input type='text' id='login'></td>
            </tr>
            <tr>
              <td>Senha</td>
              <td><input type='password' id='password'></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="button" id='submit' value="Entrar"></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </body>
  <script src="./login.js"></script>
  <script src="./utils.js"></script>
  <script>
    let login = new Login();
  </script>
</html>
